.search{
    margin-top: 40px;
    margin-left: 20px;
    
}

.search h1{
    font-weight: bold;
}

.search h3{
    color: rgba(0, 0, 255, 0.74);
    margin-bottom: 20px;
    margin-left: 10px
}
.main{
    text-align: center;
  
    margin-top: 10px
    
    
}

.content h4{
    text-align: left;
    padding-top: 3px
}


@media screen and (max-width:400px){
    
    .main{
       100%;
    }
}